<html>
<head><title>Eve Signatures</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">Sig Tracker</a>	
			</div>
			<div id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Signatures</a></li>
					<li><a href="/help">Help</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="well">
				<h3>Usage:</h3>
				<p>
					You can add and update signatures by copying your scan results from EvE and pasting them into the textarea.<br/>
					Existing entries will be updated with type and/or name if they haven't been already recorded. <br/>
					If a signature doesn't exist anymore you can delete it by clicking the x on the "Delete" column
				</p>
				<h3>Why:</h3>
				<p>
					For speeding up your scanning and keeping track of signatures that have been scanned. <br/>
					You can more easily find the signatures that are new or interest you.<br/>
					The tracker automatically finds the system that you are in and shows you the relevant signature information

				</p>
			</div>
		</div>
		<div class="row">
			<div class="footer">
				<div class="text-center">
					<p>Created by Cronus Adamsen</p>
					<p>All Eve related materials are the property of <a href="http://www.ccpgames.com">CCP Games</a></p>
				</div>

			</div>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
