<html>
<head><title>Eve Signatures</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">Sig Tracker</a>	
			</div>
			<div id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Signatures</a></li>
					<li><a href="/help">Help</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-8 col-sm-8 col-md-8">
				<form class="form" action="" name="signatures" method="POST">
						<div class="form-group">
							<textarea class="form-control" name="systemdata"></textarea>
						</div>
						<div class="form-group">
							<div class="btn-group">
								<input class="btn btn-primary" type="submit" name="submit" value="Parse"/>
								{% if request.headers.get('Eve-charname') == 'Cronus Adamsen' %}
									<a href="/clear" class="btn btn-warning">Clear System</a>
									<a href="/clearall" class="btn btn-danger">Clear All</a>	
								{% endif %}
								
							</div>
						</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 col-sm-8 col-md-8">
				<h3>{{ system }}</h3>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Identifier</th>
							<th>Type</th>
							<th>Name</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
					{% for signature in signatures %}
						<tr>
							<td>{{signature.sig_id}}</td>
							<td>{{signature.sig_type}}</td>
							<td>{{signature.sig_name}}</td>
							<td><a href="/clear/{{signature.sig_id}}">x</a></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="footer">
				<div class="text-center">
					<p>Created by Cronus Adamsen</p>
					<p>All Eve related materials are the property of <a href="http://www.ccpgames.com">CCP Games</a></p>
				</div>

			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>
</html>
