<html>
<head><title>Eve Signatures</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">Sig Tracker</a>	
			</div>
			<div id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Signatures</a></li>
					<li><a href="/help">Help</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-8 col-sm-8 col-md-8">
				<div class="well">
					For IGB use only.<br/>
					Trust is required for getting the current system automatically.<br/>
					You might need to refresh the page after granting trust because of /reasons/<br/>
				</div>
				<a href="/" onclick="CCPEVE.requestTrust('http://sig.lunn.it');" class="btn btn-default">Request Trust</a>
			</div>
		</div>
		<div class="row">
			<div class="footer">
				<div class="text-center">
					<p>Created by Cronus Adamsen</p>
					<p>All Eve related materials are the property of <a href="http://www.ccpgames.com">CCP Games</a></p>
				</div>

			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
