.form-group textarea.form-control{
	height:170px;
	margin-right:20px;
}
li{
	margin-bottom: 5px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  padding:10px 0;
  background-color: #f5f5f5;
}
